@model Project_DAW.Models.SubCategorie

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<br />

<div class="align-items-center justify-content-center d-flex">
    <a class="btn btn-success" href="/SubCategorii/New">Adauga o noua subcategorie</a>
</div>

<br />

@foreach (Project_DAW.Models.SubCategorie categorie in ViewBag.Subcategorii)
{
    @Html.Label("Name", "Nume categorie")
    <p>@categorie.Title</p>
    <a class="btn alert-success" href="/SubCategorii/Show/@categorie.Id">Afisare SubCategorie</a>
    <a class="btn alert-success" href="/SubCategorii/Edit/@categorie.Id">Editare SubCategorie</a>
    <br />
    <hr />
    <br />
}
<br />