@model Project_DAW.Models.SubCategorie


<h2>@ViewBag.Title</h2>

<br />

<p>@Model.Title</p>

<p> @Model.Categorie.Name </p>

@foreach(var intrebare in Model.Intrebari)
{
    <p> @intrebare.Name</p>
    <a class="btn alert-success" href="/Intrebari/Show/@intrebare.Id">Afisare intrebare</a>
}

@if(ViewBag.EsteAdmin == true)
{
    <form method="post" action="/SubCategorii/Delete/@Model.Id">

        <button class="btn btn-danger" type="submit">Sterge SubCategoria</button>
        
    </form>
    <br />
}
@if (ViewBag.UserCurent != null)
{
    <a class="btn alert-success" href="/Intrebari/New?idsc=@Model.Id">Adaugare Intrebare</a>
    <br />
}



<br />
<hr />
<br />

